<!doctype html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<form method="get" th:action="@{/search}">
    <label>
        Search:
    </label>
    <input type="text" name="search">
    <button type="submit"> Search</button>
</form>

<a th:href="@{/todo/add}"> Add new todo </a>

<a th:href="@{/todo/listOfAssignees}"> List of Assignees </a>

<h1> Todos for today: </h1>
<table BORDER=2 FRAME=VOID RULES=ALL>

    <thead>
    <tr>
        <th> ID</th>
        <th> Action </th>
        <th> Urgent </th>
        <th> Done </th>
        <th> Delete </th>
        <th> Edit </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="element : ${todos}">
        <td th:text="${element.id}" > </td>
        <td th:text="${element.title}"> </td>
        <td th:text="${element.urgent}"> </td>
        <td th:text="${element.done}"> </td>
        <td ><form method="post" th:action="@{'/' + ${element.id} + '/delete'}"> <button> Delete </button> </form></td>
        <td ><form method="post" th:action="@{/edit}"> <button> Edit </button> </form></td>

    </tbody>
</table>

</body>

</html>