<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<ul>
    <li>
        <a th:href="@{/information?name=} +${name}"> Information site </a>
    </li>
    <li>
        <a th:href="@{/nutritionStore?name=} +${name}"> NutritionStore site </a>
    </li>
</ul>

<img src="racoon.jpg">

<p th:text = "'This is: ' + ${name} + '. Currently living on ' + ${food} + ' and ' + ${drink} + '. He knows currently ' + ${trickList} + ' tricks.' " >  </p>

    <h1> Known Tricks </h1>
<ul>
    <li>
        <p> Trick01 </p>
    </li>
    <li>
        <p> Trick02 </p>
    </li>
</ul>

</body>
</html>