<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>
<ul>
    <li>
        <a href="'/information?name=' +${racoon.getName()}"> Information </a>
    </li>
    <li>
        <a href="/nutritionStore"> Nutrition Store </a>
    </li>
    <li>
        <a href="/trickCenter"> Trick Center </a>
    </li>
    <li>
        <a href="/actionHistory"> Action History </a>
    </li>
</ul>

<form  method = "post" th:action = "/nutritionStore">
<label> Food: </label>

<select name = "food" >
    <option value="garbage">Garbage</option>
    <option value="stolenGoods">Stolen goods</option>
    <option value="fruits">Fruits</option>
</select>

<label> Drink: </label>

<select name = "drink" >
    <option value="water">Water</option>
    <option value="liquor">Liquor</option>
    <option value="soda">Soda</option>
</select>

<button type="submit" action="/index"> Change </button>

</form>

</body>
</html>