<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit</title>
</head>
<body>
<h1> Submit a new post </h1>
<form th:action="/reddit/add" method = "post">
    <div>
    <label> Title: </label>
     <input type="text" name="title"/>
    </div>
    <div>
    <label> URL: </label>
    <input type="text" name="link"/>
    </div>

    <form method="post" th:action="@{/reddit/add}"> <button> Submit </button> </form>

</form>
</body>
</html>