<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
</head>
<body>
<a th:href="@{/reddit/add}"> Submit new post </a>
<h1> Trending posts </h1>
<table BORDER=5 FRAME=VOID >
    <tbody>
    <tr th:each="element : ${posts}">
        <td th:text="${element.score}" > </td>
        <td>
            <form method="post" th:action="@{|/reddit/pluscounter/${element.id}|}" >
                <button name="plus" type="submit"> + </button>
            </form>
        </td>
        <td>
            <form method="post" th:action="@{|${element.id}|}" >
                <button name="minus" type="submit"> - </button>
            </form>
        </td>
        <td >
            <form method="post" th:action="@{/reddit}" >
                <a th:text="${element.title}" th:href="${element.link}"> </a>
            </form>
        </td>
    </tr>

    </tbody>
</table>

</body>
</html>