<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Useful Utilities </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<p> To get your email validated, please click on the following link: </p>
<a href="/useful/email"> Email validator  </a>
<p> To have Ceasar decoded, please click on the following link: </p>
<a href="/useful/ceasardecoder"> Caesar decoder </a>
<p> To see a blank page with random colour, please click on the following link: </p>
<a href="/useful/colored"> Endpoint </a>
</body>
</html>